h2,
h3,
h5 {
  text-transform: capitalize;
}

h2 {
  /* color: 
     #0e63d3; */
  color: black;
}

.bg-bl {
  background-color: rgb(88, 149, 228);
}

.g-morf {
  background: rgba(130, 176, 199, 0.5);
  /* box-shadow: 0 10px 32px 0 rgba( 31, 38, 135, 0.37);  */
  box-shadow: 0 10px 32px 0 rgba(31, 38, 135, 0.7);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
